@model Tasks.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete completed</h2>

<h3>Are you sure you want to delete completed tasks?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete completed" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
